*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif ;
}

.text_white{
    color: white;
}
#main{
    
}

.clear{
    clear:both;
}

#header{
    top: 0px;
    position: fixed;
    left: 0;
    right:0 ;
    background: black;
    height: 46.5px;
    z-index: 1;
}

.header_nav{
    display: inline-block;
}

.header_nav a,.header_subnav a{

    text-decoration: none;
}

.header_nav li{
    position: relative;
    display: inline-block;
}

.header_nav a{
    display: block;
    line-height: 46.5px;    
    padding: 0 24px;
}

.header_nav > li > a{
    text-transform: uppercase;
    color: #f2f2f2;
}

.header_nav li:hover > a{
    background: #ccc;
    color: black;
    
}

.header_nav li:hover .header_subnav{
    display: block;

}

.header_subnav {
    position: absolute;
    background: white;
    display: none;
}

.header_subnav li{
    display: block;
}

.header_subnav a{
    color: black;
    padding: 0 16px;
}
.header_nav_arrow_left{
    font-size: 12px;
    
}
.header_nav_search {   
    float:right;
}

.header_nav_search .header_nav_icon_search{
    font-size: 20px;
    padding: 0 21px;
    color: white;
    line-height: 46.5px;
    cursor: pointer;
}

.header_nav_search:hover {
    background-color: red;
}




#slider{
    position: relative;
   padding-top: 50%;
    background: url(/assets/Img/background_theband.png) center /cover no-repeat;
    margin-top: 46.5px;
}

.slider_text{
    position: absolute;
    bottom: 0;
    left: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    transform: translateX(-50%);
    padding: 32px 16px;

}


.slider_text_heading{
    margin: 10px 0;
    font-weight: 400;
}


.slider_text_title{
    margin-bottom: 15px;
}




#container{
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    text-align: center;
    padding: 64px 16px;
}

.content_heading{

    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#container .the_band{
    font-weight: 300; 
    margin: 10px 0;
}
#container .container_about_slogan {
    opacity: 0.6;
    font-style: italic;
    font-size: 18px;
    margin: 15px 0;
}
#container .container_about_title{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.4;
    text-align:justify;

}

#container .content_profile{
    padding: 32px 0;


}


#container .content_profile_about{
    float: left;
    width: calc(100%/3);

    
    


}

.name_profile{
    font-size: 15;
    margin: 15px 0;
}
.img_profile{
    border-radius:10px;
    width: 195px;
}

/* Tour */
#tour_tickets{
    left: 0;
    right: 0;
    padding: 64px 16px;
    background: #000;
}
.tour_tickets_content{
    margin-left: auto;
    margin-right: auto;  
    width: 800px;
    
}
.tour_heading{
    font-weight: 300;
    margin: 10px 0;
    text-align: center;
}
.tour_announce{
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0;
    text-align: center;
}
.tickets_book{
    
    background: white;
}
.tickets_book .month{
    padding-left: 18px;
    color: #757575;
}

.tickets_book > li{
    list-style: none;
    border-bottom: 1px solid #757575 ;
    padding: 16px 8px;
}
.tickets_book .sold_out{
    color: white;
    margin-left: 16px;
    font-size: 15px;
    padding: 9px 17px;
    background-color: red;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.tickets_book .quantity{
    float: right;
    background: #000;
    color: white;
    padding:5px 10px;
    border-radius: 50px;
}
.tour_place{
    margin-left: -8px;
    margin-right: -8px;
    
}
.tour_info_place{
    
    padding: 32px 8px;
    width: calc(100%/3);
    float: left;
}
.tour_info_place img{
    border-radius: 8px;
    display: block;
    width: 100%;   
    transition: all;
}
.tour_info_place img:hover,
.btn_tickets:hover  {
    cursor: pointer;
    opacity: 0.6;
    background-color: #757575;
    
}
.tour_place_body{
    border-radius: 0  0 8px 8px ;
    padding: 0 16px;
    background: white;

}
.body_heading{
    padding: 15px 0;
    font-size: 15px;
    font-weight: 600;
}
.body_date{
    color: #757575;
    padding: 15px 0;
}
.body_desc{
    line-height: 1.4;
    font-size: 15px;
    text-align:inherit;
    margin: 15px 0;
    
}
.btn_tickets{    
    border-radius: 4px;
    background: #000;
    margin-bottom: 15px;
    padding: 8px;   
}

.btn_tickets a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}




#footer{

}

